
{% extends 'base.html' %}


{% load static %}
{% block title %}Log In{% endblock %}



{% block content %}

<style>

input::placeholder{

 font-size:15px;
 }
 input{
 font-size:15px;

 }
label{

 font-size:17px;
 }
 input[type=text]{
margin:20px;
 margin-left:0px;
 margin-top:0px;

placeholder: font-size:13px;

 width:100%;
 }
 input[type=email]{
 margin:20px;
 margin-left:0px;
 margin-top:0px;



 width:100%;

 radius:5px;
 }input[type=password]{

width:100%;

 }


label.required::after {
    content: ' *';
    color: red;
}





</style>

<div class="container">
  <div class="row">

    {% if user.is_authenticated %}
    <div class="col-12 py-5">
        <p class="text-center alert alert-warning"><i class="fas fa-exclamation-circle"></i> you are already logged in</p>
        <a href="/" class="btn btn-success">Continue Shopping</a>
    </div>
    {% else %}

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
        <br>
     <p class="h1-responsive   mb-3" style="font-size:25px;{%if request.site.domain == 'www.switch2voip.us'%}color:#007CC7;{%endif%}"><strong>Login</strong></p>
     <br>
        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

      <div class="border rounded" style="padding:15px;">
      <form method="post" action="{% url 'account_login' %}" class="myform p-3">

       {% csrf_token %}

           <label style="" for="email2">Login *</label>
          {{form.login}}
          <br>
        <br>
          <label style="" for="password2">Password *</label>
          {{form.password}}
       <button type="submit" class="btn {%if request.site.domain == 'www.switch2voip.us'%}btn-success{%else%}btn-danger p-2{%endif%} btn mt-4"><strong>Sign in</strong></button>

        <p><a href="{% url 'account_reset_password' %}">Lost your password?</a></p>
      </form>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3 ">
      <br>
   <p class="h1-responsive   mb-3" style="font-size:25px; {%if request.site.domain == 'www.switch2voip.us'%}color:#007CC7;{%endif%}"><strong>Register</strong></p>
   <br>
    <div class="border rounded" style="padding:15px;">
    <form method="post" class="myform p-3" action="/accounts/signup/" style="padding:10px;">


      {% csrf_token %}

 <label style="" for="email2">Email *</label>
        <input required name="email" type="email" placeholder="username or email" id="email2">
     <br>
        <br>
           <label style="" for="password2">Password *</label>
        <input required class="" name="password1" type="password" placeholder="enter your password" id="password2">



      <p class="mt-3" style="font-size:13px;">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="/privacy-policy/" target="_blank">Privacy Policy</a>.</p>
      <button type="submit" class="mt-3 btn {%if request.site.domain == 'www.switch2voip.us'%}btn-success{%else%}btn-danger{%endif%} btn">Register</button>

     </form>

    </div>
  </div>
    {% endif %}
  </div>
</div>











{% comment %}
<h2>Log In</h2>
<form method="post" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form1.as_p }}
  <button type="submit">Log In</button>
</form>


<h2>Sign Up</h2>
<form method="post" action="{% url 'account_signup' %}">

  {% csrf_token %}
     {{ form2.as_p }}

{% endcomment %}
</form>
<br>
<br>
<p class="text-center" style="font-size:11px"><small>My account portal – Switch2VoIP</small></p>

{% endblock %}
