{% extends "base.html" %}
{% load static %}
{% block title %}
   Change Password
{% endblock %}
{% block content %}
 <div class="container">
     {%if request.site.domain == 'www.switch2voip.us'%}
     {% include 'account/base.html'%}
{%else%}
      {% include 'berry_account/base.html'%}
{%endif%}
  <div class= "" style=" padding:10px; background-color:{%if request.site.domain == 'www.switch2voip.us'%}#007CC7{%else%}#ff3333{%endif%}; color:white;border-radius:4px">
    <p class="text-white m-2">Change Password</p>
    </div>
     <br>
    <div class=" container mt-4 border">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change myform2 m-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="btn btn-lg btn-success">Change Password</button>
        <a href="{% url 'users:account_update' %}" class="btn btn-lg btn-">back</a>
    </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
 // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<script>
    $('#psw, #confirm_password').on('keyup', function () {
  if ($('#psw').val() == $('#confirm_password').val()) {
    $('#message').html('Matching').css('color', 'green');



  } else
    $('#message').html('Not Matching').css('color', 'red');
});

</script>

<script>
var myInput = document.getElementById("psw");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("messages").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("messages").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }
$("#psw").keypress(function(event) {
    var character = String.fromCharCode(event.keyCode);
    return isValid(character);
});

function isValid(str) {
    return !/[~`!@#$%\^&*()+=\-\[\]\\';,/{}|\\":<>\?]/g.test(str);
}
  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>

<script>

    $('.shake').click(function() {
  shake($('.target'));
});

function shake(thing) {
  var interval = 100;
  var distance = 10;
  var times = 5;

  for (var i = 0; i < (times + 1); i++) {
    $(thing).animate({
      left:
        (i % 2 == 0 ? distance : distance * -1)
    }, interval);
  }
  $(thing).animate({
    left: 0,
    top: 0
  }, interval);
}

</script>

<!--Submitting form AJAx-->
<script>

    const form = document.getElementById('form');
    form.addEventListener("submit", submitHandler);

    if ($('#psw').val() == $('#confirm_password').val()) {
    function submitHandler(e) {
        e.preventDefault();
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : '{% url 'users:SIPpsw' %}', // the url where we want to POST
            data        : $('#form').serialize(), // our form data
            dataType    : 'json', // what type of data do we expect back from the server
            success     : successFunction
        });
    }

    function successFunction(msg) {
        if (msg.message === 'success') {
            $('#successmessage').html('The new SIP password has been submitted. You will receive an email with the password change confirmation within a few minutes.').css('color', 'green');
            form.reset()
        }
    }


     }

</script>

{% endblock %}
