{% extends "base.html" %}
{% load account %}
{% block title %}Done Password Reset{% endblock %}
{% block content %}
<div class="container">
<div class= "" style=" padding:10px; background-color:{%if request.site.domain == 'www.switch2voip.us'%}#007CC7{%else%}#ff3333{%endif%}; color:white;border-radius:4px">
    <p class="text-white m-2" style="font-size:18px">Reset Password</p>
    </div>
    {% if user.is_authenticated %}

    <div class="col-12 py-5">
        <p class="text-center alert alert-warning"><i class="fas fa-exclamation-circle"></i> you are already logged in</p>
        <a href="https://switch2voip.us/voip-services/" class="btn btn-success">Continue Shopping</a>
    </div>
    {% else %}

    <div class=" container mt-4 ">

        <p class="mt-2 alert alert-success">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
      <br>
        <a href="/" class="btn btn-success btn-lg">Continue shopping</a>
    </div>

    {% endif %}
</div>

{% endblock %}
