
django-pagination
Django
djangorestframework

SQLAlchemy
Werkzeug
Whoosh
django-extensions
django-grappelli
django-haystack

django-staticfiles
html5lib
pisa

django-tablib

dj-static
django-widget-tweaks
django-countries
xhtml2pdf==0.2.5
reportlib==3.4.0
